.profile_page_img{
    border-radius: 1rem;
    width: 10.625rem;
    height: 10.625rem;
    object-fit: cover; 
	margin-right: 2rem;
}

.progress_text{
    margin-bottom: 0.4rem;
    text-align: right;
}

.progress{
	background-color: var(--grey-color);
	border-radius: 1rem;
	position: relative;
	height: 0.7rem;
	width: 37.5rem;
}

.progress_done{
	background: linear-gradient(to left, #F2709C, #FF9472);
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

.progress_2, .progress_3{
	height: 0.5rem;
	width: 6.25rem;
}

.align_center{
	align-items: center;
}

.status_div{
    justify-content: space-between;
    margin: 1rem 0;
}

.status_info{
    margin-top: 0.5rem;
}

.icon_div{
    padding: 0.7rem;
    border-radius: 0.6rem;
    margin-right: 0.7rem;
	border: 1px solid var(----grey-color);
    box-shadow: 3px 3px 5px var(--shadow-color);
}

.profile_score_icon{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.profile_container_half{
    flex-basis: 50%;
}

.profile_page_card_heading{
    display: inline;
}

.achivement_txt_badge{
    background-color: var(--grey-color);
    padding: 0.2rem 0.5rem;
    border-radius: 100%;
    margin-left: 0.2rem;
}

.achievement_content{
	display: flex;
	flex-basis: 100%;
	justify-content: space-around;
	padding: 1rem 0;
	flex-wrap: wrap;
}

.medals{
	text-align: center;
}

.medal_img{
	border-radius: 100%;
	cursor: pointer;
}

.medal_img:hover{
    box-shadow: 4px 4px 12px var(--shadow-color);
}

.achievement_card_footer{
	border-top: 1px solid var(--grey-color);
	padding-top: 0.7rem;
	display: flex;
	justify-content: center;
	flex-basis: 100%;
	cursor: pointer;
}